
.lang-menu-row {
	position: relative;
}

.lang-menu-container {
	width: auto;
	padding: .5rem;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0 0 0 1rem;
		li {
			display: inline-block;
			margin: 0;
			padding: 0 .125rem;
			a {
				text-transform: uppercase;
				font-size: .875rem;
				color: $white;
				@extend %pt-sans;
				&:hover {
					color: $partio_main_color_lightest;
				}
				&.active {
					border-bottom: 2px solid $partio_main_color_lightest;
				}
			}
		}
	}
}