

$menu_width: rem-calc(240);
$menu_width_wider: rem-calc(280);

$column-gutter-half: $column-gutter / 2;

.frontpage-content-wrapper {
	width: 100%;
	height: 100%;
	&.move-right {
		transform: translate3d($menu_width,0,0);
		-webkit-transform: translate3d($menu_width,0,0);
	}
}

.main-wrapper {
	position: relative;
	width: auto;
	overflow-x: hidden;

	// Only for print
	@media print {
		overflow-x: visible;
	}
}

.frontpage-content-wrapper {
	transition: transform .3s ease;
	-webkit-transition: -webkit-transform .3s ease;
}

.main_menu-wrapper {
	width: $menu_width;

	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	
	padding: 2rem $column-gutter-half;
	background-color: #253764; //$partio_main_color_lighter;

	transform: translate3d(-$menu_width,0,0);
	-webkit-transform: translate3d(-$menu_width,0,0);

	transition: transform .3s ease;
	-webkit-transition: -webkit-transform .3s ease;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;

	&.move-right {
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
	}
	
	// ul (koskee kaikkia)
	ul {
		color: $white;
		margin: 0;
		padding: .125rem 0 0 1rem;
		list-style-type: none;
		overflow: hidden;

		// ul li
		li {
			position: relative;
			display: block;
			margin: 0;
			padding: .5rem 0;

			// ul li.menu-item-has-children
			&.menu-item-has-children {

				// ul li.menu-item-has-children > a
				& > a {
					position: relative;
					padding-right: 1rem;

					& .toggler {
						display: block;
						text-align: center;
						position: absolute;
						top: 0;
						right: 0;
						width: 30px;
						height: 100%;
						color: inherit;
						&:after {
							content: '>';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							color: inherit;
						}
						&.opened {
							&:after {
								content: 'v';
							}
						}
					}
				}

				// ul li.menu-item-has-children > .sub-menu
				& > .sub-menu {

					height: 0;

					transform: scale3d(.9,.9,1);
					-webkit-transform: scale3d(.9,.9,1);

					backface-visibility: hidden;
					-webkit-backface-visibility: hidden;

					opacity: 0;
				}

				// ul li.menu-item-has-children.opened
				&.opened {

					// ul li.menu-item-has-children.opened > .sub-menu
					& > .sub-menu {

						height: auto;
						opacity: 1;

						transform: scale3d(1,1,1);
						-webkit-transform: scale3d(1,1,1);

						transition: opacity .3s ease, transform .3s ease;
						-webkit-transition: opacity .3s ease, -webkit-transform .3s ease;

					}
				}

                li.current-page > a {
                    text-decoration: underline;
                }
			}

			// menun kaikki linkit
			a {
				position: relative;
				display: block;
				color: $white;
				@extend %pt-sans;
				padding-right: 1.5rem;	// this fixes the long text links bug!
				word-break: break-word;
				// font-size: .875rem;
				&:hover {
					text-decoration: underline;
				}

                .toggler {
                    transform: translateX(0);
                    transition: transform .2s;

                    &:hover{
                        font-weight: bold;
                        transform: translateX(.2rem);
                    }

                }

			}

			// ul li ul
			ul {
				list-style-type: none;
				padding: .125rem 0 0 .5rem;

				// ul li ul li
				li {
					padding: .25rem 0;

					// ul li ul li a
					a {
						color: $white; //$partio_menu_helper_color;
					}

					// ul li ul li ul
					ul {

						// ul li ul li ul li
						li {
							//ul li ul li ul li a
							a {
								font-size: .875rem;
								color: $white;
							}
						}
					}

				}
			}
		}
	}


	.lang-menu-container {
		padding-left: 0;

		.lang-menu {
			padding-left: 0;
		}
	}
}

.show-main_menu__icon {
	display: inline-block;
	margin-top: 0.45rem;
	padding: 1rem;
	background-color: transparent;
	color: $white;
	line-height: 1;
}

.close-main_menu__icon {
	display: none;
	margin-top: 0.45rem;
	padding: 1rem;
	background-color: transparent;
	color: $white;
	line-height: 1;
}

.show-main_menu {
	position: absolute;
	display: inline-block;
	z-index: 1;

	transition: transform .3s ease;
	-webkit-transition: -webkit-transform .3s ease;

	&:hover {
		cursor: pointer;
	}

	&.move-right {
		.show-main_menu__icon {
			display: none;
		}
		.close-main_menu__icon {
			display: inline-block;
		}
	}
}

.main_menu-heading {
	color: $white;
	margin: 0 0 1rem 0;
	padding: 1.25rem 0 0 1rem;
	border-bottom: 1px solid $partio_main_color_lightest;
}

// responsive styles
@media #{$tablet-up} {

	.frontpage-content-wrapper {
		&.move-right {
			transform: translate3d($menu_width_wider,0,0);
			-webkit-transform: translate3d($menu_width_wider,0,0);
		}
	}

	.main_menu-wrapper {
		width: $menu_width_wider;

		transform: translate3d(-$menu_width_wider,0,0);
		-webkit-transform: translate3d(-$menu_width_wider,0,0);
	}
}
