
$topnav_height: 56px;
.partio_topnav {
    height: $topnav_height;
    //background-image: linear-gradient(to bottom,#000000,#353535);
    background-color: #1c1c1c;
    position: relative;
}

.partio_topnav_inner {
    height: 100%;
    width: 90%;
    max-width: 765px;
    margin: 0 auto;
    position: relative;
}

.logo-link {
    display: block;
    float: left;
    width: 118px;
    height: 100%;
}

.partio-logo {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-size: contain;
    background-position: 0 5px;
    background-repeat: no-repeat;
    background-image: url(../img/partiologovalk.png);
}

.topnav__links {
    float: left;
    padding-left: 8px;
    display: none;
}

.topnav__link {
    display: block;
    font-family: Arial, sans-serif;
    float: left;
    color: $white;
    height: $topnav_height;
    padding: 22px 8px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    position: relative;

    // &:before {
    //     display: none;
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     margin-left: -12px;

    //     width: 0;
    //     height: 0;
    //     border-style: solid;
    //     border-width: 0 12px 12px 12px;
    //     border-color: transparent transparent #5378d5 transparent;
    // }
    &:after {
        display: none;
        content: '';
        position: absolute;
        bottom: 12px;
        left: 8px;
        right: 8px;
        height: 10px;
        border-bottom: 2px solid $partio_topnav_blue;
    }

    &:active, &:focus, &:hover {
        color: $white;
    }

    &.active {
        &:before, &:after {
            display: block;
        }
    }

    // &:hover {

    //     color: $white;
    //     &:before, &:after {
    //         display: block;
    //     }
    // }
}

@media screen and (min-width:rem-calc(860)) {
    .topnav__links {
        display: block;
    }
}

@media screen and (min-width:rem-calc(1000)) {

    .partio_topnav_inner {
        max-width: 902px;
    }
    .topnav__link {
        padding: 22px 16px;
        &:after {
            left: 16px;
            right: 16px;
        }
    }
}


// #portal-nav {
//   font-size: 12px;
//   margin: 0;
//   padding: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   color: #fff;
//   background-color: #000000;
//   background-image: -webkit-gradient(linear,left top,left bottom,from(#000000),to(#353535));
//   background-image: -webkit-linear-gradient(top,#000000,#353535);
//   background-image: -moz-linear-gradient(top,#000000,#353535);
//   background-image: -ms-linear-gradient(top,#000000,#353535);
//   background-image: -o-linear-gradient(top,#000000,#353535);
//   background-image: linear-gradient(to bottom,#000000,#353535);
// }

// #portal-nav #portal-nav-inner {
//   height: 56px;
//   width: 80%;
//   min-width: 1180px;
//   margin: 0 auto;
//   position: relative;
// }

// #portal-nav #portal-nav-inner #portal-nav-logo {
//   float: left;
// }

// #portal-nav #portal-nav-inner ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   float: left;
// }

// #portal-nav #portal-nav-inner li {
//   float: left;
//   padding: 15px 0 0;
//   margin: 0 10px 0 0;
// }

// #portal-nav #portal-nav-inner #search-block-form {
//   float: right;
//   margin-top: 15px;
// }

// .element-invisible {
//   position: absolute !important;
//   clip: rect(1px 1px 1px 1px);
//   clip: rect(1px,1px,1px,1px);
//   overflow: hidden;
//   height: 1px;
// }

// .container-inline div, .container-inline label {
//   display: inline;
// }

// #portal-nav #portal-nav-inner #search-block-form .form-submit {
//   border: 0;
//   padding: 0;
//   margin: 0;
//   width: 45px;
//   height: 25px;
//   text-indent: -999em;
//   background: url(http://www.partio.fi/sites/partio.fi/themes/partio/images/button-search.png) no-repeat 0 0;
// }

// #portal-nav #portal-nav-inner #search-block-form input {
//   float: left;
// }