
// FOUNDATION

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// PARTIO

$partio_main_color: #00548e;
$partio_main_color_lighter: #689abc;
$partio_main_color_lightest: #9fbfd5;

$partio_second_color: #B98B00;
$partio_second_color_lighter: #DCC57F;
$partio_second_color_lightest: #EADCB2;

$partio_third_color: #bcbec0;
$partio_third_color_lighter: #dcddde;
$partio_third_color_lightest: #e6e7e8;

$partio_page_bgcolor: $white;

$partio_menu_helper_color: #315B78;
$partio_topnav_blue: #5378d5;

$partio_border_light_grey: #e0e0e0;

$partio_main_color_superlight: #c6dae7;