$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-flag: "\e909";
$icon-close: "\e901";
$icon-remove: "\e901";
$icon-times: "\e901";
$icon-bars: "\e902";
$icon-navicon: "\e902";
$icon-reorder: "\e902";
$icon-spinner: "\e903";
$icon-arrow-down: "\e904";
$icon-arrow-up: "\e905";
$icon-heart: "\e906";
$icon-print: "\e907";
$icon-search: "\e908";
$icon-chevron-down: "\e900";
$icon-share2: "\ea82";

