
body {
	// background-color: $white;
	background-color: $partio_main_color;
}

// Contentin tausta jatkuu sinisenä vasemmalle ja valkoisena oikealle

.content-bg	{
	background: linear-gradient(to right, #253764 50%, $white 50%, $white 100%);
	// border-bottom: 2px solid $partio_main_color;
}



// PÄÄSISÄLTÖ

.content-inner {

	// otsikko

	.content__headers {
		margin-bottom: 1rem;
	}

	.content__main-header {
		color: $tuatara;
		@extend %source_sans-pro;
		margin: 0;
		font-size: 1.75rem;
	}

	ul {
		padding-left: .5rem;
	}

	a {
		text-decoration: underline;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $partio_main_color_lighter;
		margin-top: 0;
		@extend %source_sans-pro;
	}
	
	h1, h2 {
		font-size: 1.375rem;
	}

	h3, h4 {
		font-size: 1.25rem;
	}

	h5, h6 {
		font-size: 1.125rem;
	}
}

.text-content {
	img {
		margin-bottom: 1rem;
	}
}

@media #{$medium-up} {
	.content-hero-bg {
		height: 50%;
		min-height: 14rem;
		max-width: rem-calc(1400);
		&:after {
			display: block;
		}
	}

}

@media #{$large-up} {

	.content-inner {

		padding-left: 15px;

		.content__main-header {
			font-size: 2.25rem;
		}

		h1, h2 {
			font-size: 1.6875rem;
		}

		h3, h4 {
			font-size: 1.375rem;
		}

		h5, h6 {
			font-size: 1.25rem;
		}

	}

}

@media #{$xlarge-up} {
	.content-hero-bg {;
		max-width: rem-calc(1800);
	}
}