
.main-footer {
	padding: rem-calc(32 0);
	background-color: $partio_main_color_lighter; //$partio_main_color;
	color: $white;
}

.back-to-top {
	text-align: center;
}

.back-to-top__link {
	@extend %pt-sans;
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.875rem;
	// padding-bottom: rem-calc(32);
	color: $white;
	i {
		color: $partio_main_color_lightest;
		// font-size: .875em;
		&.bef {
			padding-right: .5rem;
		}

		&.aft {
			padding-left: .5rem;
		}
	}
	&:hover {
		color: $white;
		i {
			color: $jet;
		}
	}
}

.footer__info {
	padding-bottom: rem-calc(16);
    display: inline-block;
    margin-left: 30px;

	p {
		@extend %pt-sans;
		color: $white;
		font-size: 0.875rem;
		margin: 0;
		padding-bottom: rem-calc(16);
        text-align: left;
	}
}

.sivukartta {
	color: $white;
	font-size: .875em;
	&:hover {
		text-decoration: underline;
	}
}

.main-footer__logo {
	max-width: 120px;
	// width: 100%;
	height: auto;
    margin-left: 10px;
	display: inline-block;
    vertical-align: top;
}

.partio-spinner {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 0.9;
}
