// PRINTTITYYLIT
@media print {

	.not-printable {
		display: none;
	}

	.partio_topnav, .content-hero-wrapper, .menu-wrapper, .main-footer, .task-group__logo-container, .additional-info, #tips__form-container {
		display: none;
	}

	.tag-groups, .additional-info {
		height: auto !important;
		float: left;
		width: 50%;
	}

	.breadcrumbs {
		margin-bottom: 1rem;
	}

    .content-wrapper {
        min-height: 0 !important;
    }

    a[href]:after {
      content:"" !important;
    }

    abbr[title]:after {
        content: "" !important;
    }

    .content-wrapper, .tag-groups {
        width: 100% !important;
    }
}
