
$search_fontsize: rem-calc(14);
$search_fontsize_smaller: rem-calc(12);

.search-box {
	margin-top: 1.5rem;
}

.search-block {
	padding-top: 1.5rem;
	border-bottom: 1px solid #dddddd;
	.basic-details {
		width: 75%;
		overflow: visible;
		border-bottom: 1px dashed #dddddd;
		margin-bottom: 0.2rem;
		.search-results__title {
			.search-sidelogo {
				width: 75px;
				margin-left: 40px;
			}
			.float-content {
				width: calc(100% - 75px);
			}
			@media #{$small-only} {
				.float-content {
					width: 100%;
				}
			}
			.page_title {
				text-decoration: none;
				margin-bottom: 0;
			}
			.page_title:hover {
				text-decoration:underline;
			}
			.divider {
				color: #253764;
				line-height: 150%;
				padding: .05rem .4rem 0 .4rem;
			}
			.page_type {
				text-transform: uppercase;
				color: #253764;
				font-size: 0.9rem;
				line-height: 200%;
			}
			.page_ingress {
				text-align: left;
			}
		}
	}
	.search-results__breadcrumb {
		.search-results__breadcrumb-link {
			font-size: 0.85rem;
			font-weight: bold;
			color: #253764;
			text-decoration: none;
		}
		.breadcrumb-divider {
			font-size: 0.65rem;
			color: #28a9e1;
			padding: 0 .5rem;
		}
	}
}

.load-more-button {
	margin-top: 1rem;
}