
$search_fontsize: rem-calc(14);
$search_fontsize_smaller: rem-calc(12);

.search-block {
	padding-top: 1.5rem;
	border-bottom: 1px solid #dddddd;
	.basic-details {
		width: 75%;
		overflow: visible;
		border-bottom: 1px dashed #dddddd;
		margin-bottom: 0.2rem;
		.search-results__title {
			.divider {
				color: #253764;
			}
			.page_type {
				text-transform: uppercase;
				color: #253764;
				font-size: 0.9rem;
			}
		}
	}
	.search-results__breadcrumb {
		.search-results__breadcrumb-link {
			font-size: 0.85rem;
			font-weight: bold;
			color: #253764;
			text-decoration: none;
		}
		.breadcrumb-divider {
			font-size: 0.65rem;
			color: #28a9e1;
			padding: 0 .5rem;
		}
	}
}