// PÄÄKUVAN OSIO

.hero {
	transition: min-height .3s ease;
	position: relative;
}

.front-lang {
    position: absolute;
    left: 30px;
	top: 20px;
	margin-left:1rem;
    z-index: 9999;

    a {
        font-size: 1rem;
        color: white;
        font-weight: bold;
        padding: 0 5px;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }
}

.slider, .slick-list, .slick-track {
	height: 100%;
}

.slick-slide {
	&,
	& > div {
		height: 100%;
	}
}

.slide {
	height: 100%;
	background-position: 50% 50%;
	background-size: cover;
	background-color: $partio_main_color;
}

.hero__shade {
	position: relative;
	padding-top: 4rem;
	width: 100%;
	height: 100%;
	background-color: rgba($black, .35);
}

.hero__heading-group-top {
	position: relative;
	width: 90%;
	max-width: 48rem;
	margin: 0 auto;
	top: 10%;
	text-align: center;
	transition: top .3s ease;
}

.hero__heading-group-middle {
	position: relative;
	width: 20%;
	max-width: 48rem;
	margin: 0 auto;
	top: 20%;
	text-align: center;
	transition: top .3s ease;
}

.hero__heading-group-bottom {
	position: relative;
	width: 90%;
	min-height: 150px;
	max-width: 48rem;
	margin: 0 auto;
	top: 30%;
	text-align: center;
	transition: top .3s ease;
}

.hero__heading-group-search {
	position: relative;
	width: 50%;
	min-width: 48rem;
	margin: 0 auto;
	top: 25%;
	transition: top .3s ease;	
}

.hero__divider {
	height: 2px;
	//width: 4rem; LEVEYS MÄÄRITELTY DEFAULTSISSA ANIMAATIOSSA
	width: 50%;
	background-color: $white;
	margin: 1rem auto;
	box-shadow: 1px 1px 0px $black;
}


%hero__headings {
	color: $white;
	margin: 0;
	text-shadow: 1px 1px 0px $black;
}

.hero__heading--main {
	@extend %hero__headings;
	@extend %pt-sans;

	p {
		font-size: 1.5rem;
	}
	p a {
		color: $white;
		font-size: 1.5rem;
		text-decoration: underline;
	}
	.hero__heading-image {
		display:inline-block;
		width:200px;
		height:77px;
	}

	.hero__heading-title {
		text-transform:none;
		padding-left:3rem;
		position:relative;
		top:1rem;
		display:inline-block;
		color:white;
	}
}

.hero__heading--sub {
	@extend %hero__headings;
	@extend %garamond-italic;
	font-size: 1.25rem;
}

.hero__logo {
	max-width: 200px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

// AJANKOHTAISTEN NOSTOJEN OSIO

.current-events {
	background-color: $partio_main_color_lighter;
	position: relative;
}

// .current-events__divider {
// 	display: none;
// 	width: 1px;
// 	position: absolute;
// 	top: 1rem;
// 	bottom: 1rem;
// 	left: 50%;
// 	background-color: $white;
// }

.current-events__heading {
	color: $white;
	text-transform: uppercase;
	@extend %gill_sans-reg;
	padding-bottom: .5rem;
}

.half-bg {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	background-color: $partio_main_color_lightest;
}

.news, .happenings {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.happenings {
	background-color: $partio_main_color_lightest;
}

.event {
	padding-bottom: 1rem;
	display: table;
}

.event__heading {
	margin: 0;
	color: $white;
	@extend %garamond-italic;
}

.event__date {
	color: $partio_main_color;
	@extend %gill_sans-bold;
	font-size: .8rem;
	display: inline-block;
	padding-right: .5rem;
}

.event__intro, .event__link {
	margin: 0;
	font-size: .875rem;
}

.event__link:hover {
	color: $jet;
	text-decoration: underline;
}


.event__date-container {
	display: table-cell;
}

.event__text-container {
	display: table-cell;
}

// OHJELMAT

.programs {
	background-image: url(../img/bg5.jpg);
	background-position: 50% 50%;
	background-size: cover;
}

.programs__heading {
	color: $white;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	padding: 1rem 0;
	a {
		color: $white;
		text-decoration: none;
	}
}

.programs__shade {
	background-color: rgba( $black, 0.6);
}

.programs__inner {
	max-width: 100rem;
	margin: 0 auto;
}

.program {
	display: block;
	height: 16rem;
	transition: background-color .3s ease;
	width: 50%;
	float: left;

	&:hover {
		.program__divider {
			width: 5rem;
		}
	}
}

.program__logo {
	max-height: 9.375rem;

	&-container {
		height: 100%;
		text-align: center;
		padding-top: 2rem;
	}
}

.program__divider {
	height: 2px;
	width: 3rem;
	background-color: $white;
	margin: 1rem auto;
	transition: width .3s ease;
}

.program__heading {
	@extend %source_sans-pro-italic;
	font-size: 1.125rem;
	color: $white;
}

@media #{$medium-up} {
	.hero__heading-group {
		top: 30%;
	}

	.hero__heading--sub {
		font-size: 1.375rem;
	}

	.hero__logo {
		padding-top: 4rem;
	}

	.current-events__divider {
		display: block;
	}

	.half-bg {
		display: block;
	}

	.search__input-lg {
		font-size: 1.3rem;
	}

	.program__heading {
		font-size: 1.25rem;
	}
}

@media #{$large-up} {
	.hero__heading-group {
		top: 40%;
	}

	.hero__heading--sub {
		font-size: 1.6875rem;
	}

	.news, .happenings {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.current-events__divider {
		top: 2rem;
		bottom: 2rem;
	}

	.program {
		width: 20%;
		height: 19rem;

		&:hover {
			background-color: rgba( $black, 0.4);
		}
	}

	.programs__heading {
		padding: 2rem 0;
	}
}

@media #{$medium-only} {
	.hero__heading--main {
		p {
			font-size: 1.25rem;
		}
		p a {
			font-size: 1.25rem;
		}
	}
	.hero__heading-group-middle {
		top: 15%;
	}

	.hero__heading-group-bottom {
		top: 20%;
	}

	.hero__heading-group-search {
		top: 15%;
		min-width: 35rem;
	}
}

@media #{$small-only} {
	.hero__heading--main {
		p {
			font-size: 1rem;
		}
		p a {
			font-size: 1rem;
		}
	}
	.hero__heading-group-middle {
		top: 15%;
		.hero__divider {
			 margin: .2rem auto;
		}
	}

	.hero__heading-group-bottom {
		top: 20%;
		min-height: 100px;
	}

	.hero__heading-group-search {
		top: 16%;
		min-width: 0;
		width: 90%;
	}
}
