
$search_fontsize: rem-calc(14);
$search_fontsize_smaller: rem-calc(12);

.search-results__header {
	h3 {
		color: $jet;
	}
	.result-num {
		color: $partio_main_color_lighter;
	}
}

.search-results__body {

	.search-result {

		display: block;
		background-color: $ghost;
		border: 1px solid $silver;
		padding: $search_fontsize_smaller;
		font-size: $search_fontsize;

		.search-result__breadcrumbs {
			.breadcrumbs {
				border-bottom: none;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: $search_fontsize_smaller;
			}
		}

		.search-result__header {
			margin-bottom: $search_fontsize;
			.search-result__heading {
				@extend %verdana;
				font-size: rem-calc(16);
				color: $jet;
				font-style: normal;

				a {
					color: inherit;
					text-decoration: none;
					&:hover {
						color: $partio_main_color_lighter;
					}
				}
			}
		}



		.search-result__body {
			.post-link {
				display: block;
				color: inherit;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			p {
				margin: 0;
				font-size: $search_fontsize;
			}
			margin-bottom: $search_fontsize;
		}

		.search-result__skills {
			font-size: $search_fontsize_smaller;
			margin-bottom: $search_fontsize_smaller/2;
			&.keywords { margin-bottom: 0; }
		}
	}
}