
$tablet-breakpoint: em-calc(768);
$tablet-range: ($tablet-breakpoint + em-calc(1), $medium-breakpoint);
$tablet-up: "#{$screen} and (min-width:#{lower-bound($tablet-range)})";
$tablet-only: "#{$screen} and (min-width:#{lower-bound($tablet-range)}) and (max-width:#{upper-bound($tablet-range)})";

@media #{$tablet-up} {
	.hide-for-tablet-up {
		display: none !important;
	}
}

.main-wrapper {
	height: 100%;
}

.button {
	&:focus {
		outline: 0;
	}
	
	&:active {
		transform: translateY(2px);
	}
}
// ANIMATTIOIDEN HELPERIT

.delay_05 {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.delay_1 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

@-webkit-keyframes stretch {
	0% {
		width: 0rem;
	}

	100% {
		width: 4rem;
	}
}

@keyframes stretch {
	0% {
		width: 0rem;
	}

	100% {
		width: 4rem;
	}
}

.stretch {
	-webkit-animation-name: stretch;
	animation-name: stretch;
}

// image replacement

.ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.hidden {
	visibility: hidden;
}

.block {
	display: block;
}

.none {
	display: none;
}

.columns + .columns:last-child {
	float: left;
}

.hide-for-small-only {
	@media screen and (max-width: $tablet-breakpoint) {
		display: none;
	}
}

.show-for-small-only {
	@media #{$tablet-up} {
		display: none;
	}
}

@mixin word-wrap {
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
}

.word-wrap {
    @include word-wrap;
}
