/**
* Styles shared between all navigations
*/

// Language switcher styles
.menu {
    .lang-item {
        display: inline-block;

        &.current-lang {
            text-decoration: underline;
        }

        & > a {
            font-size: 1rem;
            text-transform: uppercase;
        }
    }
}
