
.sidenav-search {
	margin: 1rem 0 0;
	padding: 1.25rem 0;
	border-top: 1px solid $partio_main_color_lightest;
	border-bottom: 1px solid $partio_main_color_lightest;
}

.sidenav-search__inner {
	position: relative;
    label {
        position: absolute;
        top: 7px;
        left: 14px;
        i {
        	color: $partio_main_color;
            font-size: 1rem;
        }
    }
}

.sidenav-search__input {
    display: block;
    width: 100%;
    height: 35px;
    padding-left: 2.125rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2rem;
    color: #444;
    background-color: #ffffff;
    background-image: none;
    border: none; //1px solid $partio_main_color;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    @extend %garamond-italic;

    &:focus {
        border-color: $partio_main_color;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $partio_main_color;
    }
}

